set $mod Mod4
set $left h
set $down j
set $up k
set $right l
set $term {{ pillar['terminal'] }}
set $menu rofi -show run | xargs swaymsg exec

default_border pixel
output * bg /home/andrei/.config/sway/background.png fill

{% for output in pillar['sway']['outputs'] -%}
output {{ output["name"] }} scale {{ output["scale"] }}
{%- if output.get('toggle-lid', none) %}
bindswitch --reload lid:on output {{ output["name"] }} disable
bindswitch --reload lid:off output {{ output["name"] }} enable
{% endif -%}
{% endfor %}

# Automatic lockscreen
exec swayidle -w \
  timeout 300 'swaylock --image ~/.config/sway/background.png' \
  timeout 600 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
  before-sleep 'swaylock --image ~/.config/sway/background.png'

bindsym $mod+Shift+Escape exec systemctl suspend && swaylock --image ~/.config/sway/background.png
bindsym $mod+Shift+grave exec swaylock --image ~/.config/sway/background.png

# Notification Daemon
exec mako --default-timeout 7000

# Waybar
exec waybar

bindsym $mod+Return exec $term
bindsym $mod+q kill
bindsym $mod+f exec $menu
bindsym $mod+Shift+c reload
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'

bindsym XF86MonBrightnessUp exec light -A 10
bindsym XF86MonBrightnessDown exec light -U 10
bindsym XF86AudioLowerVolume exec pactl set-sink-volume 0 -10%
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume 0 +10%
bindsym XF86AudioMute exec pactl pactl set-sink-mute 0 toggle

floating_modifier $mod normal

bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right
bindsym $mod+1 workspace 1:🌐
bindsym $mod+2 workspace 2:💬
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10
bindsym $mod+minus workspace 11:🔐
bindsym $mod+equal workspace 12:🎶
bindsym $mod+Shift+1 move container to workspace 1:🌐
bindsym $mod+Shift+2 move container to workspace 2:💬
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10
bindsym $mod+Shift+minus move container to workspace 11:🔐
bindsym $mod+Shift+equal move container to workspace 12:🎶

bindsym $mod+b splith
bindsym $mod+v splitv
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+g fullscreen
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent

bindsym $mod+Shift+backslash move scratchpad
bindsym $mod+backslash scratchpad show

mode "resize" {
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

bindsym $mod+p exec slurp | grim -g - - | wl-copy

{% for input in pillar['sway']['inputs'] %}
input {{ input['name'] }} {
{%- for opt, value in input.get("options", {}).items() %}
  {{ opt }} {{ value }}
{%- endfor %}
}
{% endfor %}

client.focused #878787 #878787 #878787 #878787 #878787
client.unfocused #545454 #545454 #545454 #545454 #545454

include /usr/local/etc/sway/config.d/*
