[global_config]
  borderless = True
  tab_position = hidden
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2d2d2d"
    background_darkness = 0.88
    background_type = transparent
    cursor_color = "#d3d0c8"
    font = Overpass Mono Light 11
    foreground_color = "#d3d0c8"
    palette = "#2d2d2d:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#d3d0c8:#747369:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#f2f0ec"
    scrollback_infinite = True
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
    visible_bell = True

